@model StorageProject5.Models.Part
@{
                /**/

                ViewBag.Title = "Edit";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Part</h2>


@using (Html.BeginForm("Update", "Parts"))
{
    <div class="form-group">

        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Location.Address)
        @Html.TextBoxFor(m => m.Location.Address, new { @class = "form-control" })

    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-danger">Save</button>
}